@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'variable';
@import 'animation';
//font-family: 'Roboto', sans-serif;

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: $gris;
}
.phone{
    position: relative;
    display: flex;
    height: 100%;
    width: 550px;
    border: solid outset 1px $gris;
    overflow: hidden;
}
#app{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.09deg, #7696C7 -51.63%, #325180 99.93%);
}

//loading
.loading-screen{
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-left: 0;
    display: flex;
    width: 550px;
    height: 100%;
    background-image: url("./assets/images/cloud.jpg");
    background-size: cover;
    transition: all 1s;
}
.loading-component{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo{
    display: flex;
    background: url("./assets/images/Logo.png");
    width: 115px;
    height: 115px;
    background-size: cover;
}
.RainAlert-text{
    display: flex;
    flex-direction: column;
    color: $blanc;
    font-family: 'Roboto', sans-serif;
    margin-left: 1.5rem;
    &-1{
        font-size: 2.5rem;
    }
    &-2{
        color: $gris-clair;
        margin-left: 2px;
        font-weight: 100;
    }
}

//home
.home-screen{
    position: relative;
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 0;
    transition: all .5s;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    & .research{
        width: 87%;
        height: 80px;
        font-family: 'Roboto', sans-serif;
        padding-left: 5%;
        font-size: 3rem;
        font-weight: 400;
        background: rgba(255, 255, 255, 0.28);
        border-radius: 8px;
        border: none;
        outline: none;
        color: $blanc;
        background-image: url("./assets/images/glass.png");
        background-repeat: no-repeat;
        background-size: 60px;
        background-position: 400px 11px;
        padding-right: 90px;
        z-index: 3;
        &::placeholder {
            color: $blanc;
            opacity: .5;
        }
        &:-ms-input-placeholder {
            color: $blanc;
            opacity: .5;
        }
          
        &::-ms-input-placeholder {
            color: $blanc;
            opacity: .5;
        }
    }
    & .results{
        top: 72px;
        position: absolute;
        display: flex;
        z-index: 4;
        width: 87%;
        height: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        font-weight: 300;
        background: $blanc;
        border-radius: 8px;
        color: $blanc;
        transition: height .5s;
        flex-direction: column;
        max-height: 87%;
        & .name{
            display: flex;
            width: 100%;
            height: 90%;
            color: black;
            margin: 5% 0 0 5%;
            flex-direction: column;
            overflow-y: scroll;
            max-height: 550px;
            & .city{
                
            cursor: pointer;
            }
            &::-webkit-scrollbar-thumb {
                background: $gris-clair;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-track {
                background: none;
            }
            &::-webkit-scrollbar {
                width: 20px;
            }
        }
        & .button{
            display: none;
            width: 100%;
            height: 10%;
            margin: 5% 5% 5% 5%;
            align-self: center;
            justify-self: end;
            justify-content: space-around;
            font-size: 2rem;
            font-weight: 400;
            & .cancel{
                width: 40%;
                height: 100%;
                background: $bleu-clair;
                border-radius: 10px;
                text-align: center;
                padding-top: 2.5%;
                cursor: pointer;
            }
            & .search{
                width: 40%;
                height: 100%;
                background: $bleu-fonce;
                border-radius: 10px;
                text-align: center;
                padding-top: 2.5%;
                cursor: pointer;
            }
        }
    }
}

//map
.map-screen{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: -100%;
    transition: all .5s;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    & .iframe{
        display: flex;
        width: 87%;
        height: 90%;
    }
    & .actual-hour{
        position: absolute;
        display: flex;
        right: 10%;
        top: 7%;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        background-color: $blanc;
        padding: 6px 18px;
        border-radius: 50px;
        color: $bleu-fonce;
        cursor: context-menu;
    }
}
.body{
    display: flex;
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.header{
    margin-top: 3%;
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    cursor: context-menu;
}

//footer
.footer{
    z-index: 4;
    display: flex;
    width: 100%;
    height: 13%;
    justify-content: center;
    background: $blanc;
    flex-direction: column;
    & .icons{
        padding-top: 15px;
        display: flex;
        width: 100%;
        height: 80%;
        color: $bleu-fonce;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        & .map{
            display: flex;
            width: 50%;
            height: 100%;
            opacity: .7;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        & .weather{
            display: flex;
            width: 50%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    & .indicator-line{
        display: flex;
        align-self: end;
        justify-self: end;
        height: 18%;
        width: 25%;
        background-color: $bleu-fonce;
        border-radius: 10px 10px 0 0;
        margin-top: 1%;
        margin-right: 12.5%;
        transition: all .5s;
    }
}

//utils
.line{
    display: flex;
    width: 80%;
    height: 3px;
    min-height: 3px;
    background: $gris;
    margin: 15px 0 15px 0;
}
.wiggle{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.small{
    width: 80px;
    height: 80px;
}
.margin-left--20{
    margin-left: 5px;
}

//chart
.graph{
    display: flex;
    margin-top: 2.5%;
    width: 87%;
    height: 45%;
    background-color: $blanc;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    &-body{
        display: flex;
        height: 80%;
        width: 100%;
        & .rain-lvl{
            display: flex;
            width: 17%;
            height: 95%;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            color: $bleu-fonce;
            font-family: 'Roboto', sans-serif;
            font-size: .8rem;
            font-weight: 500;
            cursor: context-menu;
            &-obj{
                display: flex;
                flex-direction: column;
                align-items: center;
                & img{
                    transform: scale(.7);
                }
            }
        }
        & .chart-container{
            position: relative;
            display: flex;
            margin-top: 5%;
            width: 80%;
            height: 90%;
        }
    }
    &-header{
        height: 17%;
        width: 100%;
        display: flex;
        flex-direction: row;
        font-family: 'Roboto', sans-serif;
        color: $bleu-fonce;
        align-items: center;
        justify-content: end;
        &-text{
            display: flex;
            font-weight: 600;
            font-size: 2rem;
            margin-left: 1.2rem;
            width: 50%;
            cursor: context-menu;
        }
        & .chance{
            width: 50%;
            display: flex;
            flex-direction: row;
            margin: 9px 1.2rem 0 0;
            justify-content: end;
            cursor: context-menu;
            & .chance-text{
                display: flex;
                align-self: center;
                margin-right: .8rem;
            }
            & .chance-percentage{
                font-size: 1.3rem;
                display: flex;
                background-color: $bleu-fonce;
                color: $blanc;
                font-weight: 500;
                padding: 3.5px 12px;
                border-radius: 5px;
            }
        }
    }
}

//degree
.degree{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 23%;
    color: $blanc;
    align-items: center;
    justify-content: space-around;
    &-icon{
        margin-left: 15%;
    }
    &-text{
        margin-right: 15%;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        font-weight: 500;
        cursor: context-menu;
    }
}
.degree-text-info{
    color: $blanc;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    cursor: context-menu;
}

//hours
.hours{
    position: relative;
    margin-top: 3.2%;
    display: flex;
    width: 87%;
    height: 6.5%;
    background: $bleu-fonce;
    color: $blanc;
    border-radius: 50px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
    & .txt-1{
        color: $bleu-fonce;
        font-weight: 700;
    }
    &-txt{
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        z-index: 3;
        transition: all .3s;
        cursor: pointer;
    }
    &-mask{
        left: 0;
        display: flex;
        position: absolute;
        flex-direction: row;
        width: 21%;
        height: 100%;
        background: $blanc;
        border-radius: 50px;
        transition: left .5s;
    }
}